


.aboutPage {
    min-height: 100vh;
}

.aboutPage .splitGrid {
    margin-bottom: calc(var(--content-pad)*8);
    margin-top: calc(var(--content-pad)*.5);
    font-family: PangramCompact, Arial, sans-serif;
    font-weight: 600;
}
.aboutPage .rightSplit p {
    font-size: .9em;
    line-height: 1.4em;
}

.aboutPage .projectHeaderDiv{
    margin-bottom: calc(var(--content-pad)*2);
}

.aboutPage h1 {
    font-family: PangramHeader, Arial, sans-serif;
    font-size: 2em;
    margin: 0;
    margin-bottom: .4em;
    letter-spacing: .02em;
    font-optical-sizing: none;
}

.aboutPage h2 {
    font-family: PangramHeader, Arial, sans-serif;
    font-size: 3em;
    color: var(--c-blue);
    margin: 0;
    font-size: 6vw;
    margin-bottom: .5em;
    margin-top: 1em;
}

.aboutPage h3 {
    font-family: PangramHeader, Arial, sans-serif;
    font-size: 3em;
    color: var(--c-black);
    margin: 0;
    line-height: 1.05em;
}


.aboutPage img{
    border-radius: 15px;
}

.aboutPage strong{
    font-family: PangramHeader, Arial, sans-serif;
}


.aboutPage p{
    letter-spacing: .04em;
    line-height: 1.4em;
}

.aboutPage a{
    /* color: var(--c-blue); */
    text-decoration: underline;
    /* display: inline-block; */
    transition: 0ms ease-out;
}
.aboutPage a:hover {
    color: var(--c-blue);
    font-family: PangramTextBold, Arial, sans-serif;

    letter-spacing: -.01em;
}


#profHideOnMobile {
    display: block;
}
#profHideOnPC {
    display: none;
    margin-top: 7vh;
}


@media only screen and (max-width: 768px) {
    #profHideOnMobile {
        display: none;
    }
    #profHideOnPC {
        display: block;
    }

    .aboutPage h2 {
        font-size: 11vw;
        margin-bottom: .3em;
        margin-top: .6em;
    }
}
