:root {
    --footerht: 2em;
}
#footer {
    text-align: center;
    font-family: PangramHeader, Arial, sans-serif;
    color: var(--c-gray);
    padding: 10em 0 3em;
    background: linear-gradient(180deg, rgba(246, 246, 243,0) 0%, rgb(215, 212, 195) 100%);
    background: 
        linear-gradient(180deg, 
            rgba(246, 246, 243,0) 0%, 
            #f6f6f300 0%,
            #ebf6f4 10%,
            #d1f5f7 20%,
            #c0f5f9 31%,
            #b1f5fb 42%,
            #a3f3fc 53%,
            #98effd 64%,
            #83dafd 75%,
            #449af6 88%,
            /* #3679f7 93%, */
            #1855f6  100%
    );

    vertical-align: top;
    color: var(--c-gray);
    /* margin-top: 10em; */
}
#footer a {
    color: var(--c-gray);
}


.stLine {
    color:var(--c-blue);
    color: rgba(0, 59, 235, 0.9);
    text-decoration:line-through wavy;
}
.stText {
    color: var(--c-gray);
    margin: 0 .3em 0 .2em;
}
#squiggle {
    top: 0;
    background-color: var(--c-blue);
    background-color: red;
    width: 100%;
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 317.66 51.07"><path d="M317.66 14.49v12.72l-6.36-6.36c-15.82-15.81-41.54-15.81-57.35 0l-15.7 15.7c-9.36 9.36-21.81 14.52-35.04 14.52s-25.68-5.16-35.04-14.52l-15.7-15.7c-15.82-15.81-41.54-15.81-57.36 0l-15.7 15.7c-9.36 9.36-21.8 14.52-35.04 14.52S18.69 45.91 9.33 36.55L0 27.22V14.49l15.7 15.7C31.51 46 57.24 46 73.05 30.19l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0l15.7 15.7c15.81 15.81 41.54 15.81 57.35 0l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0Z" style="fill:%23000;stroke-width:0"/></svg>');
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 317.66 51.07"><path d="M317.66 14.49v12.72l-6.36-6.36c-15.82-15.81-41.54-15.81-57.35 0l-15.7 15.7c-9.36 9.36-21.81 14.52-35.04 14.52s-25.68-5.16-35.04-14.52l-15.7-15.7c-15.82-15.81-41.54-15.81-57.36 0l-15.7 15.7c-9.36 9.36-21.8 14.52-35.04 14.52S18.69 45.91 9.33 36.55L0 27.22V14.49l15.7 15.7C31.51 46 57.24 46 73.05 30.19l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0l15.7 15.7c15.81 15.81 41.54 15.81 57.35 0l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0Z" style="fill:%23000;stroke-width:0"/></svg>');
    mask-size: 3em;
    mask-repeat: repeat-x;
    height: .5em;
    margin: .1em 0;
}

#footer-links {
    /* height: 3em; */
}

#footer-links p, #footer-links a{
    font-family: PangramDisplay;
    display: block;
    height: 100%;
    vertical-align: middle;
    margin: 0;
    font-size: 1.4em;
    padding: 0 2em;
    margin-top: .33em;
    mix-blend-mode: multiply;
}

#footerGuppy {
    text-align: center;
    height: 1.7em;
    transform: scaleX(-100%);
    margin-top: 1em;

}

#footer-links  .bigFooterText {
    transition: 300ms ease-out;
    font-size: 1.7em;
}

#footer-links  #toTop {
    cursor:n-resize;
}
#toTop:hover {
    transform: scale(1.2);
    color: var(--c-blue);
}

#footer-links  #allProjects {
    cursor:pointer;
}
#allProjects:hover {
    transform: scale(1.2);
    color: var(--c-blue);
}
#createdwith {
    mix-blend-mode: multiply;
    font-size: .8em;
}


@media only screen and (max-width: 768px) {

    #footer-links {
        display: block;
        /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
        /* height: 3em; */
    }
    #footer-links  .bigFooterText {
        font-size: 9vw;
        margin-bottom: 9vw;
    }
    #createdwith {
        font-size: 4vw;
    }

}