:root {
    --navHeight: 1.5em;
    --navHeightGrow: 2em;
    --navbar-pad: .7em;
    --navbar-padGrow: .7em;
}
  
#navbar {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 800;
    margin: 0 auto;
    height: var(--navHeight);

    font-family: PangramHeader, Arial, sans-serif;
    letter-spacing: .01em;
    font-family: PangramDisplay, Arial, sans-serif;
    letter-spacing: .03em;

    /* font-weight: bold; */
    font-size: .9em;
    font-size: 1em;
    padding: var(--navbar-pad) 0;

    background-color: var(--c-cream-zero);

    transition:  300ms ease-out;
    /* background-color: yellow; */
}
#navbar:hover {
    /* background-color: var(--c-cream); */
    background-color: var(--c-cream);
    /* height: var(--navHeightGrow); */
    
}


#navbar:hover .navlink p {
    /* line-height: var(--navHeightGrow); */
}


.navHalf {
    display: inline-block;
    /* height: 100%; */
    margin-top: var(--navbar-pad);
    width: fit-content;
    vertical-align: top;
    text-align: left;
    position: absolute;
    top: 0;


}
.navLeft {
    text-align: left;
    left: 0;
}
.navRight {
    text-align: right;
    /* background-color: pink; */
    right: 0;
}

#navGuppy {
    /* height: 5.45em;
    margin-left: -7.1em;
    margin-top: -1.66em; */

    height: 3.6em;
    margin-left: -4.2em;
    margin-top: -.91em;

    transition: 1000ms ease-out;
    rotate: 4deg;


    /* height: 2.6em;
    margin-left: 16px;
    margin-top: 0em;
    transition: 500ms ease-out;
    rotate: 0deg; */
}
#navName {
    transition: 300ms ease-in-out;
    text-align: left;
}
.navLeft:hover #navName {
    /* transform: scale(1.02) translateX(5%); */
}



.navlink {
    display: inline-block;

}
.navlink p {
    display: inline-block;
    /* margin: 0; */
    vertical-align: top;
    padding: 0 .4em;
    margin: 0 .5em;
    /* margin: 0 1.5vw; */
    line-height: var(--navHeight);
    /* background-color: green; */
}
#navName {
    color: var(--c-blue);
    margin-left: .5em;
    padding: 0 .5em 0 0;
}
.pagelink p {
    transition: 230ms ease-in-out;
    color: var(--c-black);
}
.pagelink-last p {
    padding-right: 0;
    margin-right: var(--content-pad);
}
.navlink p , .navlink span, .pagelink p , .pagelink span{
    cursor: pointer;
}
.navRight a{
    cursor: pointer;
}


.navLeft:hover #navGuppy {
    cursor: pointer;
    margin-left: -3em;
    margin-top: -1.3em;
    rotate: -2deg;
    animation: navGuppyFloat 5s infinite ease-in-out;
}
@keyframes navGuppyFloat {
    0% {
        rotate: 2.5deg;
        transform: translateY(0%)
    }
    12% {
        rotate: 5deg;
        transform: translateY(5%)
    }
    25% {
        transform: translateY(0%)
    }
    37% {
        transform: translateY(-5%)
    }
    50% {
        transform: translateY(0%)
    }
    62% {
        rotate: -5deg;
        transform: translateY(5%)
    }
    75% {
        transform: translateY(0%)
    }
    87% {
        transform: translateY(-5%)
    }
    100% {
        rotate: 2.5deg;
        transform: translateY(0%)
    }
}


.pagelink p:hover {
    color: var(--c-blue);
    rotate: 1.6deg;
    transform: scale(1.2);
}

.activeNavLink p{
    color: var(--c-blue);
}
.activeNavLink p:hover {
    color: var(--c-blue);
}



.navRight span {
    transform: scale(1.64) translateY(-7%);
    /* outline: red 1px solid; */
    margin-right: .1em;
    font-family: PangramCompact, Arial, sans-serif;
    display: inline-block;
}

#centerTitle {
    position: absolute;
    top: 0;
    /* margin: auto; */
    display: block;
    width: 100%;
    text-transform: uppercase;
    pointer-events: none;
    /* opacity: 0; */
    transition: 200ms ease-in-out;

    letter-spacing: .02em;
}
.showCt {
    opacity: .5;
}
.hideCt {
    opacity: 0;
}



@media only screen and (max-width: 768px) {
    :root {
        --navHeight: 1.7em;
        --navHeightGrow: 2em;
        --navbar-pad: .7em;
        --navbar-padGrow: .7em;
    }
    
    #navName, #centerTitle{
        display: none;
    }
    #navbar {
        /* text-align: left; */
        /* white-space: nowrap; */
        width: 100vw;
        /* outline: red 2px solid; */
        background-color: var(--c-cream);
        right: 0;
        left: auto;

    }
    .navHalf {
        display: inline-block;
        /* height: 100%; */
        margin-top: var(--navbar-pad);
        width: 100%;
        vertical-align: top;
        text-align: left;
        position: absolute;
        top: 0;
        /* outline: rgb(255, 196, 0) 2px solid; */

    }
    .navLeft {
        text-align: left;
        left: 0;
        width: min-content;
    }
    .navRight {
        text-align: right;
        right: 18px;
        /* background-color: pink; */
        width: 82%;
        
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    #navGuppy {
    
        height: 4.8em;
        margin-left: -6.4em;
        margin-top: -1.25em;
    
        transition: 1000ms ease-out;
        rotate: 4deg;
    }    
    
    .navlink p {
        display: inline-block;
        vertical-align: top;
        padding: 0 7vw;
        margin: 0 0;
        line-height: var(--navHeight);
        line-height: 7.8vw;
        font-size: 1.3em;
        font-size: 4vw;
        /* outline: blue 1px solid; */
        white-space: nowrap;

        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@media (hover: none) {

}