.homeBg {
    position: fixed;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    /* background-color: var(--c-gray);
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 317.66 51.07"><path d="M317.66 14.49v12.72l-6.36-6.36c-15.82-15.81-41.54-15.81-57.35 0l-15.7 15.7c-9.36 9.36-21.81 14.52-35.04 14.52s-25.68-5.16-35.04-14.52l-15.7-15.7c-15.82-15.81-41.54-15.81-57.36 0l-15.7 15.7c-9.36 9.36-21.8 14.52-35.04 14.52S18.69 45.91 9.33 36.55L0 27.22V14.49l15.7 15.7C31.51 46 57.24 46 73.05 30.19l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0l15.7 15.7c15.81 15.81 41.54 15.81 57.35 0l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0Z" style="fill:%23000;stroke-width:0"/></svg>');
    mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 317.66 51.07"><path d="M317.66 14.49v12.72l-6.36-6.36c-15.82-15.81-41.54-15.81-57.35 0l-15.7 15.7c-9.36 9.36-21.81 14.52-35.04 14.52s-25.68-5.16-35.04-14.52l-15.7-15.7c-15.82-15.81-41.54-15.81-57.36 0l-15.7 15.7c-9.36 9.36-21.8 14.52-35.04 14.52S18.69 45.91 9.33 36.55L0 27.22V14.49l15.7 15.7C31.51 46 57.24 46 73.05 30.19l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0l15.7 15.7c15.81 15.81 41.54 15.81 57.35 0l15.7-15.7c19.32-19.32 50.76-19.32 70.08 0Z" style="fill:%23000;stroke-width:0"/></svg>');
    mask-size: 20em;
    mask-repeat: repeat;
    opacity: .9; */
    background-color: var(--c-cream);
}






.floatUp {
    transform: translateY(500%);
    opacity: 0;
    animation: floatUp 6s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: calc(500ms * var(--j) + var(--globalDelay));
    animation-fill-mode: forwards;
}

@keyframes floatUp {
    0% {
        transform: translateY(250%);
        opacity: 0;
    }
    10% {
        /* transform: translateY(00%); */
        opacity: 1;
    }
    40% {
        transform: translateY(-10%);
    }
    60% {
        transform: translateY(7%);

    }
    100% {
        transform: translateY(0%);
        opacity: 1;

    }
}

#initBubbleGenerator span{
    animation: bubbleRise 6s linear;
}





/* OCEAN MODE */
